/* Resets the box size of every element on the page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*animiation | color scheme*/ 
@keyframes colors {
   0%  {background-color: #b3cde0;}
  25%  {background-color: #6497b1;}
  50%  {background-color: #005b96;}
  75%  {background-color: #03396c;}
  100% {background-color: #b3cde0;}
}

/* body | background animation & color*/
body {
  background-color:#03396c;
}

/*header | Animation & Design*/
.header div {
  animation-name: colors;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*background-color: #ffc0a1;*/  
}

.header div {
  height: 15vh;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.header h1  {
  font-family: 'Almarai', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
}

.main-div {
  position: relative;
  margin: 10px;
  background-color: transparent;
}

.main-div1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  z-index: -1;
}

.main-div1::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
  z-index: -1;
}

/* div container page placements */

.aboutMe {
  float: left;
  margin-left: 100px;
}

.projects01 {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

.projects02 {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

.projects03 {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

/* projects | aboutMe*/

.search-aboutMe {
  margin-bottom: 20px;
  padding: 50px;
  height: 700px;
  width: 800px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  'Almarai', sans-serif;
  background-color: #ffffff;
  color: darkslategrey;
}

.search-aboutMe:hover {
  box-shadow: inset 0px 0px 105px blueviolet, 0 0 105px blueviolet;
}

.search-aboutMe img {
  height: auto;
  /*max height of avatar image - ref only
  height: 244px;*/
  max-width: 251px;
  float: left
}

.search-aboutMe h2 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
}

/* side bar projects | project01*/

.search-project01 {
  margin-bottom: 10px;
  padding: 50px;
  height: 250px;
  width: 700px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  'Almarai', sans-serif;
  background-color: #ffffff;
  color: darkslategray;
}

/* side bar projects | image positioning*/
.float-right {
  float:right;
}

.search-project01:hover {
  box-shadow: inset 0px 0px 105px blueviolet, 0 0 105px blueviolet;
}

.search-project01 img {
  height: 400px;
  width: 100px;
}

.search-project01 h3 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: left;
}

/* side bar projects | project02*/

.search-project02 {
  margin-bottom: 10px;
  padding: 50px;
  height: 250px;
  width: 700px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  'Almarai', sans-serif;
  background-color: #ffffff;
  color: darkslategray;
}

/* side bar projects | image positioning*/
.float-right {
  float:right;
}

.search-project02:hover {
  box-shadow: inset 0px 0px 105px blueviolet, 0 0 105px blueviolet;
}

.search-project02 img {
  height: 400px;
  width: 100px;
}

.search-project02 h4 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: left;
}

/* side bar projects | project03*/

.search-project03 {
  margin-bottom: 20px;
  padding: 50px;
  height: 250px;
  width: 700px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  'Almarai', sans-serif;
  background-color: #ffffff;
  color: darkslategray;
}

/* side bar projects | image positioning*/
.float-right {
  float:right;
}

.search-project03:hover {
  box-shadow: inset 0px 0px 105px blueviolet, 0 0 105px blueviolet;
}

.search-project03 img {
  height: 400px;
  width: 100px;
}

.search-project03 h5 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: left;
}

/*footer*/
.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h6 {
  font-size: 20px;
}

/*sizing adjustments for smaller displays*/
@media only screen  and (max-width: 600px){
  .aboutMe,
  .projects01,
  .projects02,
  .projects03
  {
      flex-wrap:wrap;
      margin: 0px;
      width:100%;
  }
}
