/* Resets the box size of every element on the page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*animiation | color scheme*/ 
@keyframes colors {
   0%  {background-color: #263a4d;}
  25%  {background-color: #324b64;}
  50%  {background-color: #446685;}
  75%  {background-color: #527aa0;}
  100% {background-color: #6a9ccd;}
}

/* body | background animation & color*/
body {
  background-color:#263a4d;
}

/*header | Animation & Design*/
.header div {
  animation-name: colors;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.header div {
  height: 15vh;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.header h1  {
  font-family: monospace;
  font-size: 60px;
  color: white;
  text-align: center;
}

.main-div {
  position: relative;
  margin: 10px;
  background-color: transparent;
}

/*header | yellow glow effect through name | left side*/
.main-div1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px yellow,0 0 4px 2px yellow;
  z-index: -1;
}

/*header | salmon glow effect through name | right side*/
.main-div1::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px #ff664a,0 0 4px 2px #ff664a;
  z-index: -1;
}

/* div container page placements */
.aboutMe {
  float: left;
  margin-left: 100px;
}

.projects01 {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

.projects02 {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

.projects03 {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

/* aboutMe | complete styling*/
.search-aboutMe {
  margin-bottom: 20px;
  padding: 50px;
  height: 700px;
  width: 800px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  monospace;
  background-color: #ffffff;
  color: darkslategrey;
}

.search-aboutMe:hover {
  box-shadow: inset 0px 0px 105px yellow, 0 0 105px yellow;
}

.search-aboutMe img {
  height: auto;
  max-width: 251px;
  float: left
}

.search-aboutMe h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: monospace;
  text-align: center;
  color: darkslategray;
}

/* Projects - right side bar| project01 - styling*/
.search-project01 {
  margin-bottom: 10px;
  padding: 50px;
  height: 250px;
  width: 700px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  monospace;
  background-color: #ffffff;
  color: darkslategray;
}

.search-project01:hover {
  box-shadow: inset 0px 0px 105px #ff664a, 0 0 105px #ff664a;
}

/*project01 - image positioning [pulled from HTML]*/
.float-right {
  float:right;
}

.search-project01 img {
  height: 150px;
  width: 150px;
}

.search-project01 h3 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
}

/* Projects - right side bar| project02 - styling*/
.search-project02 {
  margin-bottom: 10px;
  padding: 50px;
  height: 250px;
  width: 700px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  monospace;
  background-color: #ffffff;
  color: darkslategray;
}

/*project02 - image positioning [pulled from HTML]*/
.float-right {
  float:right;
}

.search-project02:hover {
  box-shadow: inset 0px 0px 105px #ff664a, 0 0 105px #ff664a;
}

.search-project02 img {
  height: 150px;
  width: 150px;
}

.search-project02 h4 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
}

/* Projects - right side bar| project03 - styling*/
.search-project03 {
  margin-bottom: 20px;
  padding: 50px;
  height: 250px;
  width: 700px;
  border-style: double;
  border-radius: 100px;
  border-width: thick;
  font-family:  monospace;
  background-color: #ffffff;
  color: darkslategray;
}

/*project02 - image positioning [pulled from HTML]*/
.float-right {
  float:right;
}

.search-project03:hover {
  box-shadow: inset 0px 0px 105px #ff664a, 0 0 105px #ff664a;
}

.search-project03 img {
  height: 150px;
  width: 150px;
}

.search-project03 h5 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
}

/*side bar projects | text styling*/
p2 {
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  color: darkslategray;
}

/*footer | styling*/
.footer {
  padding: 30px;
  clear: both;
  font-family: monospace;
  text-align: center;
}

.footer h6 {
  font-size: 20px;
  color: white;
}

/*sizing adjustments for smaller displays | stripped down version for iPhone and tablets*/

@media only screen and (max-width: 900px){
  .header div,
  .header h1
  {
     display: none;
  }
}

@media only screen  and (max-width: 900px){
  .aboutMe
  {
      margin: 0px;
      height: max-content;
      width: max-content;
  }
}

@media only screen  and (max-width: 900px){
.projects01 
  {
  display: inline-block;
  margin: 0px;
  }
} 

@media only screen  and (max-width: 900px){
  .search-project01
  {
      margin: 0px;
      height: max-content;
      width: max-content;
  }
}

@media only screen  and (max-width: 900px){
  .search-project01 img,
  .search-project02 img,
  .search-project03 img
  {
      display: none;
  }
}
